docytpe
html(lang="es")
	head
		meta(charset="UTF-8")
		title challenge pug 
	body
		ul
			each val, index in ["rgb(43, 2, 93)" , "rgb(76, 0, 169)" , "rgb(130, 20, 255)","rgb(164, 58, 245)","rgb(192, 120, 247)","rgb(206, 166, 236)", "rgb(229, 202, 250)","rgb(237, 219, 250)","rgb(249, 245, 252)","rgb(249, 245, 252)"]
				li(style='background-color:'+val)
	